// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a { 
  text-decoration: none !important; 
  color: black !important;
}

.title { font-weight: bold; }

.article {
  display: flex;
}

.destroy {
  cursor: pointer;
  font-size: 2rem;
  color: red;
  align-self: center;
}

.article-info {
  flex-grow: 1;
  display: block;
}

.btn-secondary { color: white !important; }

.new_article {
  margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.new_article > input {
  margin: .5rem;
}

.new_bromita {
  position: absolute;
  right: 3rem;
  top: 5rem;
}